<h1>New Contact</h1>

<% if @contact.errors.any? %>
  <p>
    Something went wrong:
  </p>
  <ul>
    <% @contact.errors.full_messages.each do |contact| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @contact do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :number %>
  <%= f.text_field :number %>
  <%= f.submit %>
<% end %>
